@charset "UTF-8";
*{
    font-family:Arial Narrow Bold, sans-serif;
}
body {
    background-image:linear-gradient(to left, #54C3B3, #3A887C);
}
main{
    background-color: #3A887C;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: antiquewhite;
    text-align: center;
}
h2{
    color: rgb(250, 198, 130);
    text-align: center;
}
p{
    text-align: justify;
}